@{
  Layout = "_Layout";
}

<h1>Contact Info:</h1>
<ul>
@foreach (var address in @Model["addresses"])
{
    <li>@address.GetStreet()</li>
    <li>@address.GetCityState()</li>
    <li>@address.GetZip()</li>
}
</ul>
<p><a href='/names/@Model["name"].GetId()/addresses/new'>Add a new address</a><p>
<p><a href='/'>Return to main page</a></p>
